@charset "UTF-8";

@media screen and (min-width: 768px) {
    
    *{
        margin: 0px;
        padding: 0px;
    }
    main{
        width: 500px;
        margin-top: 10%;
        margin-bottom: 10%;
        width: 80vw;
        transition: 0.5s;
    }
    section{

    }

    #logo{
        display: block;
        width: 350px;
    }
}
