@charset "UTF-8";

@media screen and (min-width: 768px) {
    
    *{
        margin: 0px;
        padding: 0px;
    }

    body{
        background: url(../telalogin/bg-telasmaiores.png) no-repeat fixed center center / cover;
    }

    main{
        width: 500px;
        margin-top: 10%;
        margin-bottom: 10%;
        width:700px;
        transition: 0.5s;
    }

    #logo1{
        margin: auto;
        display: block;
        width: 350px;
    }
    #logo2{display: none;}
}
