@charset "UTF-8";

@media screen and (min-width: 768px) {
    
    *{
        margin: 0px;
        padding: 0px;
    }

    body{
        background: url(../telalogin/bg-telasmaiores.png) no-repeat fixed center center / cover;
    }

    main{
        margin-top: 5%;
        width: 65vw;
        transition: 1s;
    }

    #logo1{
        margin: auto;
        display: block;
        width: 50%;
    }

    

    #logo2{display: none;}
}
