@charset "UTF-8";


/*Versão para celular*/


*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

p, a {
    font-size: 13px;
}

body{
    background: url(../images/background1-cadastro.png) no-repeat fixed center center / cover;
}

main{
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    border-radius: 20px;
    box-shadow: 9px 5px 15px black;
    width: 80vw;
    margin: auto;
    margin-top: 40%;
    transition: 1.5s;
}

h1{
    margin-bottom: 20px;
}

section{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 20px;
}

#Login{
    text-align: center;
}

.formlogin{
    padding: 10px;
}

input{
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    border: none;
    text-align: center;
    background-color: rgb(201, 201, 201);

}

a{
    padding: 10px;
    text-decoration: none;
    color: green;
}

#com{
    padding-top: 10px;
}

#logo1{
    display: none;
}

#logo2{
    width: 130px;
}

#entrar{
    width: 210px;
    color: white;
    border: none;
    background-color: green;
    cursor: pointer;
}

.button{
    border: none;
    padding: 10px;
    width: 210px;
    margin: 5px;
    border-radius: 20px;
    color: green;
    background-color: white;
    transition: 0.5s;
}

#cadas{
    background-color: green;
    color: white;
}

.error{
    color: red;
    display: none;
}
