@charset "UTF-8";

/* Versão para celular */

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

p, a {
    font-size: 13px;
}

body {
    background: url(../images/background1-cadastro.png) no-repeat fixed center center / cover;
}

main {
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    border-radius: 20px;
    box-shadow: 9px 5px 15px black;
    width: 80vw;
    margin: auto;
    margin-top: 40%;
    transition: 1.5s;
}

h1 {
    margin-bottom: 20px;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 20px;
}

input {
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    border: none;
    text-align: center;
    background-color: rgb(201, 201, 201);
}

a {
    padding: 10px;
    text-decoration: none;
    color: green;
}

hr {
    width: 250px;
    margin: auto;
    margin-bottom: 15px;
}

#p{
    margin-bottom: 16px;
}

#Login {
    text-align: center;
}

.formlogin {
    padding: 10px;
}

#com {
    padding-top: 10px;
}

#logo1 {
    display: none;
}

#logo2 {
    width: 130px;
}

#entrar {
    width: 210px;
    color: white;
    border: none;
    background-color: green;
    cursor: pointer;
    transition: 0.2s;
}

#entrar:hover {
    width: 210px;
    color: black;
    border: 2px solid green;
    background-color: white;
    cursor: pointer;
}

.invalid {
    color: red;
    display: none;
}

.invalidinfo {
    border: 1px solid red;
}
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
    color: white;
    font-size: 18px;
}

.logo-container {
    position: relative;
    width: 50px; /* Ajuste conforme o tamanho da sua logo */
    height: 50px; /* Ajuste conforme o tamanho da sua logo */
}

.logo {
    width: 100%;
    height: auto;
}

.spinner {
    position: absolute;
    top: 0;
    left: 40%;
    top: 45%;
    width: 15px;
    height: 15px;
    background-color: #32a852; /* Cor da bolinha */
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg) translateX(50px) translateY(0) translate(-50%, -50%); }
    100% { transform: rotate(360deg) translateX(50px) translateY(0) translate(-50%, -50%); }
}
