@charset "UTF-8";

@media screen and (min-width: 900px) {

    .navegacao{
            width: 30dvw;
        }
    form{
        width: 60dvw;
    }
    }

    @media screen and (max-width: 900px) {
        form{
            width: 90dvw;
        }
        .perguntas{
            width: 90dvw;
        }
        h1{
            font-size: 30px;
        }
        }