<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../icon-gh.ico" type="image/x-icon">
    <title>Bem vindo!!</title>
</head>
<body>
    <main>
        <div id="texto">
            <h1>Este é o projeto <br> Green Harbor</h1>
            <p>faça Login ou Cadastrar-se para entrar</p>
        </div>
        <div>
            <a href="telalogin.html">Login</a>
            <a href="telacadastro.html">Cadastro</a>
        </div>
    </main>
</body>
</html>