<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/telacadastrocll.css" media="all" />
    <link rel="stylesheet" href="../assets/css/telacadastroall.css" />

    <link rel="shortcut icon" href="icon-gh.ico" type="image/x-icon" />
    <title>Cadastrar-se</title>
  </head>
  <body>
    <main>
      <img src="../assets/images/logo.png" alt="logo" id="logo1" />
      <section>
        <!--Tela de cadastro-->
        <img src="../assets/images/logo.png" alt="logo" id="logo2" />
        <div id="Cadas">
          <h1>Cadastrar-se</h1>
          <p>Faça seu cadastro no nosso site!!</p>
          <form action="#" method="post" class="formcadastro">
            <input
              type="text"
              name="nome"
              id="nome"
              placeholder="Insira seu nome"
              required
            />
            <br />
            <input
              type="email"
              name="email"
              id="email"
              required
              placeholder="Insira seu E-mail"
            />
            <br />
            <input
              type="tel"
              name="tel"
              id="tel"
              placeholder="telefone (opcional)"
            /><br />
            <input
              type="password"
              placeholder="Crie sua senha"
              id="senha"
              required
            /><br />
            <input type="submit" value="Cadastrar-se" id="cadas" />
          </form>
          <p id="fazer-login">
            ja possui uma conta? <a href="telalogin.html">Login</a>
          </p>
        </div>
      </section>
    </main>
  </body>
</html>
